.navBar {
  background: #c3c3c3;
  border-width: 3px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  position: relative;
  height: 50px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.img {
  height: 50px;
  width: 50px;
  position: relative;
  top: -430px;
  left: 20px;
}

.text {
  position: relative;
  top: -440px;
  left: 10px;
  color: #ffffff;
  filter: drop-shadow(1px 1px 1px black);
}
